{% extends 'accounts/base.html' %}

{% load widget_tweaks %}

{% block body %}
    <section>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header text-black">
                  <h2>Register</h2>
                </div>
                <div class="card-body">
                    {% if registered %}
                        <h1>Thank you for registering</h1>
                    {% else %}
                        <form action="{% url 'register' %}" method="POST" novalidate>
                          {% csrf_token %}
                            <div class="form-group">
                             {% for field in user_form.visible_fields %}
                                   {{ field.label_tag }}
                                      {% render_field field class="form-control" %}
                                        {% for error in field.errors %}
                                          <span style="color:red">{{ error }}</span>
                                        {% endfor %}
                             {% endfor %}
                              {% for field in profile_form.visible_fields %}
                                   {{ field.label_tag }}
                                      {% render_field field class="form-control" %}
                                        {% for error in field.errors %}
                                          <span style="color:red">{{ error }}</span>
                                        {% endfor %}
                             {% endfor %}
                                <br>
                                 <input type="submit" value="Register" class="btn btn-block btn-primary">
                               </div>
                        </form>
                    {% endif %}
                 </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </section>
{% endblock %}










